<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <header>
      <div class="header-left">
        <h1><a href="{{ site.baseurl }}/">{{ site.title | default: site.github.repository_name }}</a></h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
      </div>
      <nav>
        <a href="{{ site.baseurl }}/">Blog</a>
      </nav>
    </header>
    <div class="wrapper">
      <section>

      {{ content }}

      <section class="posts">
        <h2>Posts Recientes</h2>
        <ul>
          {% for post in site.posts %}
            <li>
              <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
              <p>{{ post.excerpt }}</p>
              <small>{{ post.date | date: "%B %d, %Y" }}</small>
            </li>
          {% endfor %}
        </ul>
      </section>

      </section>
    </div>
    <footer>
      <p><small>Bits y Tips de Linkfy &copy; 2026</small></p>
      <p><small><a href="{{ site.baseurl }}/">← Volver al Inicio</a></small></p>
    </footer>
  </body>
</html>